<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div>
    <div>
      First Name:
      <input type="text" formControlName="firstName" required maxlength="21">
      <span *ngIf="form.controls.firstName.invalid && (form.controls.firstName.dirty || form.controls.firstName.touched)">
        <span *ngIf="form.controls.firstName.errors.required">
            First name is missing
        </span>

        <span *ngIf="form.controls.firstName.errors.maxlength">
            First cannot exceed 20 characters
        </span>
      </span>
    </div>

    <div>
      Last Name:
      <input type="text" formControlName="lastName" required maxlength="20">
      <span *ngIf="form.controls.lastName.invalid && (form.controls.lastName.dirty || form.controls.lastName.touched)">
          Last name is missing
      </span>
    </div>
  </div>

  <div formGroupName="address">
    <h3>Address</h3>
  
    <div>
      Street:
      <input type="text" formControlName="street">
    </div>
  
    <div>
      City:
      <input type="text" formControlName="city">
    </div>
    
    <div>
      State:
      <input type="text" formControlName="state">
    </div>
  
    <div>
      Zip Code:
      <input type="text" formControlName="zip">
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="!form.valid">Submit</button>
  </div>
</form>
<hr>
<p>
  Form Status: {{form.status}}
</p>

<p>
  Form Valid: {{form.valid}}
</p>

<p>
  First Name: {{form.controls.firstName.value}}
</p>

<p>
  Last Name: {{form.controls.lastName.value}}
</p>

<p>
  Street: {{form.controls.address.controls.street.value}}
</p>

<p>
  City: {{form.controls.address.controls.city.value}}
</p>

<p>
  State: {{form.controls.address.controls.state.value}}
</p>

<p>
  Zip: {{form.controls.address.controls.zip.value}}
</p>